body{
        font-family: Arial, Helvetica, sans-serif;*/
        font-family: Georgia, Times, serif;
        font-size: 20px;
        color: black;      
}
.cabecalho{
    text-align: center;
    border: 1px solid;
    background-color: #111111;
}
img{   
    width: 400px;
    height: 200px;
    margin: auto;
    padding-bottom: 15px;
    display: block;
    margin: 0 auto;
}
#input2{
    width: 200px;
}
tr.cinza
{
    background-color:rgba(128, 128, 128, 0.38);
    align-items: center;
}
.titulos{
    text-align: center;
    font-size: 28px;
    margin-top: -5px;   
}
.alinhar{
    float: left;
    padding-left: 40px;
}
table.saida{
    
        border: 1px solid;
        border-color: gray;
        text-align : center;
        margin     : 0 auto;
        width      : 150px;  
    }
.titulotabela{
    background-color: orangered;
    color: white;
}
div.alinhar{
    padding-bottom: 20px; 
}
th, td {
    border: 1px solid black;
  }